h1{
    background-color: azure;
    font-size: 25px;
    font-family: Barlow;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px grey;
    padding: 10px;
    margin: auto;
}
ol li a{
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px;
    color: black;
    margin: 10px;
}
ol li a:hover{
    background:navy;
    color:white;
    
}
