h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: white;
    background-color: blue;
}
.container{
    max-width: 400px;
    margin: auto;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.todo{
    display: flex;
    align-items: center;
    width: 80%;
    border:2px solid blue ;
    box-sizing: border-box;
    margin: 10px 0;
}
#todoInput{
    flex: 1;
    padding: 5px;
}
#addBtn{
    padding: 10px 35px;
    margin-left: 20px;
    
}
.complete-btn{
    padding: 5px 10px;
    margin-right:5px;
}
.todo-delete-btn{
    margin-left: 80%;
    background-color: blue;
    color: white;
}